section {
  margin-bottom: 2.5rem;
}

code {
  outline: 2px dashed rgba(255, 50, 50, 0.8);
}

/* Rebuilding styles removed on reset */
body {
  line-height: 1.3;
  color: #333;
}

p:not(:last-child) {
  margin-bottom: 1rem;
}

/* Global code */
* {
  box-sizing: border-box;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

q {
  quotes: '\00AB' '\00BB' '\201E' '\201C';
  font-style: italic;
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

a:not(.btn) {
  transition-duration: 200ms;
  color: #a3cecc;
  text-decoration: none;
}

a:not(.btn):hover {
  text-decoration: underline;
  text-shadow: 0 0 1px rgba(100, 100, 100, 0.2);
}

abbr {
  text-decoration: none;
  border-bottom: none;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.3rem;
  line-height: 1.5em;
  padding-top: 260px;
}

h1, h2 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.4em;
  font-size: 2.4rem;
  color: #030719;
  font-weight: bold;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

h1 a:not(.btn), h2 a:not(.btn) {
  color: inherit;
}

.btn {
  transition-duration: 200ms;
  display: inline-block;
  border: 1px solid rgba(3, 7, 25, 0.3);
  background-color: transparent;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
  box-shadow: none;
  padding: 1em 3em;
  text-decoration: none;
  line-height: 1;
  font-weight: 600;
}

.btn:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #a3cecc;
}

.btn:hover, .btn:active {
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.3rem);
  border-width: 3px;
}

.btn:active {
  transform: translateY(-0.2rem);
}

.center-text {
  text-align: center;
}

.columns-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.columns-wrapper.count-2 .column {
  width: 45%;
}

.columns-wrapper.count-3 .column {
  width: 30%;
}

.columns-wrapper.count-4 .column {
  width: 24%;
}

.content-wrapper,
.header-content,
.footer-content {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

img {
  max-width: 100%;
}

/* Header Styles */
#header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 2px solid #aaa;
  background-color: rgba(255, 255, 255, 0.8);
}

#header.scrolled .logo img {
  width: 70%;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 25%;
}

.logo img {
  transition: all 0.2s ease;
  width: 100%;
}

.mainnav {
  max-width: 70%;
  display: flex;
  justify-content: flex-end;
}

.mainnav > a {
  transition-duration: 200ms;
  color: #030719;
  background-color: #a3cecc;
  padding: 0.4em 1em;
  border: 1px solid #030719;
  line-height: 1;
  white-space: nowrap;
}

.mainnav > a:hover {
  text-decoration: none;
  transform: scale(1.1);
  background-color: #fff;
  border-width: 2px;
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.1);
}

/* Footer Styles */
#footer {
  margin-top: 3rem;
  position: relative;
  padding: 1.6rem 0;
  border-top: 2px solid #aaa;
  background-color: #a3cecc;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  font-size: 75%;
}

.footer-content::before {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
  background: transparent url("../images/photos/IMG_4622.JPG") center center no-repeat;
  background-size: 100% auto;
  opacity: 0.2;
}

.footer-content .footer-part {
  width: 30%;
  position: relative;
  z-index: 10;
}

.footer-content a:not(.btn) {
  color: #000;
  text-decoration: underline;
}

.footer-content .newsletter-invite,
.footer-content .social-links {
  text-align: center;
}

.footer-content .social-links {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
}

.footer-content .social-links .icon {
  transition-duration: 200ms;
  display: inline-block;
  border: 1px solid rgba(3, 7, 25, 0.3);
  background-color: transparent;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
  box-shadow: none;
  padding: 1em 3em;
  text-decoration: none;
  line-height: 1;
  font-weight: 600;
  padding: 0;
  line-height: 2.8rem;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.footer-content .social-links .icon:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #a3cecc;
}

.footer-content .social-links .icon:hover, .footer-content .social-links .icon:active {
  box-shadow: 0 10px 20px -3px rgba(0, 0, 0, 0.1);
  transform: translateY(-0.3rem);
  border-width: 3px;
}

.footer-content .social-links .icon:active {
  transform: translateY(-0.2rem);
}

.footer-content .social-links .icon svg {
  transition-duration: 200ms;
  max-height: 1.6rem;
  vertical-align: text-top;
}

.footer-content .social-links .icon svg path {
  fill: #444;
}

.footer-content .social-links .icon:hover {
  line-height: 2.4rem;
}

.footer-content .social-links .icon:hover svg path {
  fill: #a3cecc;
}

form.subscribe.mini input[type="email"],
form.subscribe.mini input[type="submit"] {
  border-width: 3px;
  height: 2rem;
}

form.subscribe.mini input[type="email"] {
  transition-duration: 200ms;
  border: 1px solid rgba(3, 7, 25, 0.3);
  border-radius: 4px;
  box-shadow: none;
  padding-right: 3px;
  padding-left: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

form.subscribe.mini input[type="email"]:focus {
  outline: 0 none;
  border-color: #a3cecc;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

form.subscribe.mini input[type="submit"] {
  transition-duration: 200ms;
  display: inline-block;
  border: 1px solid rgba(3, 7, 25, 0.3);
  background-color: transparent;
  border-radius: 4px;
  font-size: 17px;
  font-weight: 500;
  color: #555;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

form.subscribe.mini input[type="submit"]:hover {
  cursor: pointer;
  background-color: #fff;
  border-color: #a3cecc;
}

form.subscribe.mini input[type="submit"]:active {
  position: relative;
  top: 1px;
}

/* Specific styling */
.about-button-wrapper {
  padding: 1rem;
  text-align: center;
}

.buttons-wrapper {
  padding-bottom: 2rem;
}

/* Image Sliders, based on https://css-tricks.com/can-get-pretty-far-making-slider-just-html-css/ */
.image-slider {
  width: 400px;
  margin: 2rem auto;
  text-align: center;
  overflow: hidden;
}

.image-slider .all-slides {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

.image-slider .all-slides::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.image-slider .all-slides::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}

.image-slider .all-slides::-webkit-scrollbar-track {
  background: transparent;
}

.image-slider .all-slides > div:target {
  /*   transform: scale(0.8); */
}

.image-slider .slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 400px;
  height: 400px;
  margin-right: 50px;
  border-radius: 8px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.image-slider img {
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.image-slider > a {
  display: inline-flex;
  font-size: 0.8rem;
  width: 1.5rem;
  height: 1.5rem;
  background: #ddd;
  color: #030719;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.image-slider > a:active {
  top: 1px;
}

.image-slider > a:focus {
  background: #000;
}

/* Event List */
.event-list {
  margin: 2rem auto;
  max-width: 70%;
  font-size: 80%;
}

.event-list img {
  width: 30%;
  float: left;
  margin-right: 1.2rem;
  object-fit: cover;
  position: relative;
}

.event-list .event {
  padding: 0;
  border-top: 1px solid #aaa;
  overflow: hidden;
  max-height: 4.1rem;
  transition: all 0.4s ease;
}

.event-list .event:first-child {
  border-top: none;
}

.event-list .event:hover {
  padding-top: 1rem;
  padding-bottom: 1rem;
  max-height: 30rem;
}

.event-list h3 {
  font-weight: bold;
  font-size: 1.8rem;
  padding-top: 0.2rem;
}

.event-list h3 .info {
  font-weight: 600;
  font-size: 60%;
  display: block;
}

/* Fullsize home video */
.home-hero-video {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.home-hero-video .video, .home-hero-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Partners */
ul.grid-partners {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 80%;
  line-height: 1.5;
}

ul.grid-partners li {
  list-style-type: none;
  width: 40%;
  padding: 1.2rem 1.6rem;
}

ul.grid-partners li:nth-child(n+3) {
  border-top: 1px solid #030719;
}

ul.grid-partners li:nth-child(2n) {
  border-left: 1px solid #030719;
}

ul.grid-partners li img {
  float: left;
  margin-right: 1rem;
  max-width: 50%;
  margin-top: 0.5rem;
}

ul.grid-partners li a {
  color: #030719;
}

/* Marking current menu item */
body.home .mainnav a.home,
body.about .mainnav a.about,
body.contact .mainnav a.contact {
  font-weight: bold;
  text-decoration: none;
  background-color: #fff;
  cursor: default;
}

body.home .mainnav a.home:hover,
body.about .mainnav a.about:hover,
body.contact .mainnav a.contact:hover {
  transform: scale(1);
  background-color: #fff;
  border-width: 1px;
  box-shadow: none;
}

/* Contact Page */
.contact-form .content-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 2rem;
  font-size: 80%;
}

.contact-form h2 {
  font-size: 1.8rem;
  text-align: left;
  margin-top: 0;
}

.contact-form .intro {
  max-width: 56%;
}

.contact-form .form {
  max-width: 40%;
}

form.contact {
  padding-top: 0.6rem;
}

form.contact input[type="text"],
form.contact input[type="email"],
form.contact textarea {
  display: block;
  transition-duration: 200ms;
  border: 1px solid rgba(3, 7, 25, 0.3);
  border-radius: 4px;
  box-shadow: none;
  margin-bottom: 1rem;
  width: 100%;
  padding: 2px 3px;
  font-family: inherit;
}

form.contact input[type="text"]:focus,
form.contact input[type="email"]:focus,
form.contact textarea:focus {
  outline: 0 none;
  border-color: #a3cecc;
  box-shadow: 0 0 5px rgba(100, 100, 100, 0.5);
}

form.contact textarea {
  resize: none;
}

.executive {
  margin-top: 1rem;
  margin-bottom: 1.4rem;
  text-align: center;
}

.executive .chair,
.executive .name {
  display: block;
}

.executive .chair {
  font-size: 120%;
}

.executive .name {
  font-weight: bold;
}

/* CSS3 Animation for The chevron leading to the video */
@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: .8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

@keyframes fade-slide-up {
  0% {
    opacity: 0;
    transform: translateY(4rem);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.video-callout {
  display: block;
  text-align: center;
}

.video-callout img {
  width: 4rem;
  animation: fade-slide-up 1s 1s ease-out forwards, pulse 2s 3s ease-out infinite;
}
